@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

// Header Component Structure (Mobile Default)

.header {
    @include flex-row-between;
    reading-flow: flex-visual;

    &__burger {
        button {
            background-color: unset;
            border: unset;
        }
    }
}

// Tablet Viewport Adjustments

// Center logo alignment shift for tablet layouts
@include tablet {
    .header__logo {
        padding-left: 18%;
    }
}

// Desktop Viewport Adjustments

@include desktop {
    .header__logo {
        padding: px-to-rem(10.8) px-to-rem(3.6) px-to-rem(3.6) px-to-rem(3.6);
        margin: px-to-rem(4.8);
    }
}
