@import '../abstract/mixins';

.header {
    @include flex-row-between;
    reading-flow: flex-visual;

    &__burger {
        button {
            background-color: unset;
            border: unset;
        }
    }
}

// to show logo in the middle for tablet
@include tablet {
    .header__logo {
        padding-left: 18%;
    }
}

@include desktop {
    .header__logo {
        padding: 0.45rem 0.15rem 0.15rem 0.15rem;
        margin: 0.2rem;
    }
}
