@import '../abstract/mixins';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__burger {
        button {
            background-color: unset;
            border: unset;
        }
    }
}

// to show logo in the middle for tablet
@include tablet {
    .header__logo {
        padding-left: 11rem;
    }
}

@include desktop {
    .header__logo {
        padding: 0.3rem;
        margin: 0.2rem;
    }
}
