<<<<<<< HEAD
@use '../abstract/variables' as *;
=======
@use '../abstract/variables';
>>>>>>> b8637f1 ([YS_A1_04]: Fixed PR reviews added dynamic data insertion in testimonials)
@use '../abstract/mixins' as *;

// global
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)
.hero {
    &__triangle {
        position: absolute;
        display: none;
    }
<<<<<<< HEAD
<<<<<<< HEAD

    &__right-section__box {
        width: inherit;
        @include flex-row;
        background-image: url('/assets/images/layer.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }

    &__right-section__img {
        z-index: 1;
    }

    &__right-section__images-left {
        @include flex-col-evenly;
    }
    &__left-section__top {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
    }
    .heading span {
        color: $pink;
    }
=======
.hero_right-section {
    // border: 1px black solid;
    height: 80vh;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)
}

<<<<<<< HEAD
// mobile
.hero {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3.2rem;

    &__left-section {
        @include flex-col-between;
        margin-top: 2.8rem;
        height: 51.6vh;
        &__buttons {
            width: stretch;
        }
    }

    &__right-section {
        height: auto;
    }

    &__right-section__box {
        justify-content: center;
        margin-top: -0.3rem;
        padding-top: 2.4rem;
        gap: 1rem;
    }

    &__left-section__top {
        // padding: 0.5rem;
        color: #f85e9f;
        background-color: rgba(255, 255, 255, 0.092);
        @include flex-row-around;
        width: 11.5rem;
        font-size: 0.9rem;
        font-weight: 600;
    }
}

.description {
    &--header {
        margin-top: 1.3rem;
=======
.hero_right-section_box {
    width: inherit;
    @include flexRow;
    background-image: url('/assets/images/layer.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
=======
    &_right-section {
=======
    &__right-section {
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
        height: 80vh;
    }

    &__right-section__box {
        width: inherit;
        @include flex-row;
        background-image: url('/assets/images/layer.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)

    &__right-section__img {
        z-index: 1;
    }

    &__right-section__images-left {
        @include flex-col-evenly;
    }
    &__left-section__top {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
    }
}

// mobile
.hero {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3.2rem;

    &__left-section {
        @include flex-col-between;
        margin-top: 2.8rem;
        max-width: none;
        height: 53.6vh;
    }

    &__right-section {
        height: auto;
    }

<<<<<<< HEAD
<<<<<<< HEAD
        &--header {
            margin-top: 1.3rem;
        }
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
=======
    &_right-section_box {
=======
    &__right-section__box {
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
        justify-content: center;
        margin-top: -0.3rem;
        padding-top: 2.4rem;
        gap: 1rem;
    }

    &__left-section__top {
        // padding: 0.5rem;
        color: #f85e9f;
        background-color: rgba(255, 255, 255, 0.092);
        @include flex-row-around;
        width: 11.5rem;
        font-size: 0.9rem;
        font-weight: 600;
    }
}

.description {
    &--header {
        margin-top: 1.3rem;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)
    }
}

@include tablet {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)
        &__triangle {
=======
        &_triangle {
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
            display: unset;
            left: 3.8dvw;
            top: 123.6dvw;
        }

<<<<<<< HEAD
<<<<<<< HEAD
        &__right-section {
            @include flex-col;
            width: auto;
            height: auto;

            &__box {
                width: 85%;
                margin-top: 3.3rem;
                padding-top: 2.9rem;
                gap: 0;
=======
=======
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)
        &_right-section {
            @include flexCol;
=======
        &__right-section {
            @include flex-col;
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
            width: auto;
            height: auto;

            &__box {
                width: 75vw;
                margin-top: 3.3rem;
                padding-top: 2.9rem;
                gap: 0;
            }
        }

        &__left-section {
            max-width: none;
            height: 46.2vh;
            margin-top: 4.6rem;

            &__top {
                padding: 0.3rem;
            }
<<<<<<< HEAD

            &_heading {
                font-size: 3.5rem;
                font-weight: bold;
                text-align: center;
                margin-top: 3.3rem;
                line-height: 120%;
                padding: 0 9rem;
                span {
                    color: $pink;
                }
            }

            &_description {
                font-weight: 400;
                line-height: 160%;
                font-size: 1.1rem;
                margin-top: 2.5rem;
                text-align: center;
                color: $grey;
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
            }
=======
>>>>>>> 2596f70 ([YS_A1_02]: Rebased with Header section and updated BEM)
        }

        &__left-section {
            max-width: none;
            height: 25.7rem;
            margin-top: 4.6rem;

            &__top {
                padding: 0.3rem;
            }
        }
    }
    .heading {
        padding: 0 6rem;
    }
    .heading {
        font-size: 3.5rem;
        padding: 0 6rem;
    }
    .description {
        font-size: 1.1rem;
    }
}

@include desktop {
    .hero {
        @include flex-row-between;
        align-items: normal;
        margin-top: 3.4rem;

        &__triangle {
            display: unset;
            left: 2.9dvw;
            top: 60.2dvw;
        }
<<<<<<< HEAD
=======

        &__right-section {
            height: 80vh;
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)

<<<<<<< HEAD
        &__right-section {
            &__box {
                width: 32.3rem;
                padding-top: 0;
<<<<<<< HEAD
                @include flex-row;
=======
                @include flexRow;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)
=======
            &__box {
                width: 53.6dvw;
                padding-top: 0;
                @include flex-row;
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
                background-image: url('/assets/images/layer.svg');
                background-repeat: no-repeat;
                background-size: contain;
                gap: 0;
            }

            &__img {
                z-index: 1;
            }

            &__images-left {
                margin-top: 2rem;
                @include flex-col-evenly;
            }
        }

        &__left-section {
            max-width: none;
<<<<<<< HEAD
            // height: 50vh;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b8637f1 ([YS_A1_04]: Fixed PR reviews added dynamic data insertion in testimonials)
            @include flex-col-between;
=======
            @include flexColEvenly;
            justify-content: start;
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
=======
            @include flexColBetween;
>>>>>>> 6936c4b ([YS_A1_02]: Fixed hero section PR reviews)
=======
            @include flex-col-between;
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
            align-items: start;
            margin: 3.1rem 0 0 0.5rem;
            height: 38.9dvw;
            max-height: 26rem;
            max-width: 24rem;

<<<<<<< HEAD
<<<<<<< HEAD
            &__top {
                padding: 0.6rem 1.2rem;
<<<<<<< HEAD
                color: $pink;
                background-color: rgba(255, 255, 255, 0.092);
<<<<<<< HEAD
                @include flex-row-around;
                width: 7rem;
                border-radius: 2rem;
=======
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                // width: 11.5rem;
                box-shadow:
                    0px 0px 0px 0px rgba(0, 0, 0, 0.07),
                    0px 856px 240px 0px rgba(0, 0, 0, 0);
>>>>>>> 6936c4b ([YS_A1_02]: Fixed hero section PR reviews)
                font-size: 0.6rem;
<<<<<<< HEAD
            }

            &__buttons {
                margin-top: 1rem;
                @include flex-row-start;
=======
                font-weight: 600;
                letter-spacing: -2%;
=======
            &_top {
=======
            &__top {
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
                padding: 0.3rem;
                color: $pink;
                background-color: rgba(255, 255, 255, 0.092);
                @include flex-row-around;
                font-size: 0.6rem;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)
                padding-left: 1.2rem;
=======
                color: variables.$pink;
                background-color: rgba(255, 255, 255, 0.092);
                @include flex-row-around;
                font-size: 0.6rem;
>>>>>>> b8637f1 ([YS_A1_04]: Fixed PR reviews added dynamic data insertion in testimonials)
                width: 7rem;
                border-radius: 2rem;
            }

<<<<<<< HEAD
<<<<<<< HEAD
            &_heading {
                font-size: 2.8rem;
                font-weight: bold;
                line-height: 123%;
                margin-top: 2.3rem;
                span {
                    color: $pink;
                }
            }

            &_description {
                font-weight: 400;
                line-height: 147%;
                font-size: 0.82rem;
                margin: 1.8rem 0 1.5rem 0;
                color: $grey;
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
            }

=======
>>>>>>> 2596f70 ([YS_A1_02]: Rebased with Header section and updated BEM)
            &_buttons {
=======
            &__buttons {
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
                margin-top: 1rem;
                @include flex-row;
            }
        }
    }
<<<<<<< HEAD

    .description {
        text-align: start;
=======
    .heading {
        text-align: start;
    }
    .description {
        text-align: start;
        font-size: 0.82rem;

>>>>>>> 2596f70 ([YS_A1_02]: Rebased with Header section and updated BEM)
        &--header {
            margin: 1.8rem 0 1.5rem 0;
        }
    }
}
