@import '../abstract/mixins';
@import '../abstract/variables';

.testimonials {
    position: relative;
    @include flex-col;
    margin: 4.8rem 0 7rem 0;

    &__background {
        position: absolute;
        top: -17rem;
        width: 100vw;
        display: none;
    }
    &__rating {
        font-size: 1.95rem;
    }
}

@include tablet {
    .testimonials {
        margin: 2rem 0 5rem 0;
        &__background {
            // display: unset;
        }
    }
}

@include desktop {
    .testimonials {
        margin: 3.4rem 0 4rem 0;
        &__background {
            // display: unset;
        }
        &__rating {
            font-size: 1.2rem;
        }
    }
}
