@import '../abstract/mixins';
@import '../abstract/variables';

.testimonials {
    position: relative;
    @include flexCol;
    // background-image: url(/assets/images/pink-gradient.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: 0%;
    .background {
        position: absolute;
        top: -17rem;
        width: 100vw;
    }
}
// mobile
.testimonials {
    margin: 2.8rem 0 7rem 0;
    .background {
        display: none;
    }
}

.rating {
    font-size: 1.95rem;
}

@include tablet {
    .testimonials {
        margin: 1rem 0 5rem 0;
    }

    .rating {
        font-size: 1.95rem;
    }
}

@include desktop {
    .testimonials {
        margin: 3.4rem 0 4rem 0;
    }
    .rating {
        font-size: 1.2rem;
    }
}
