@import '../abstract/mixins';

.travel-point-logo {
    @include flex-row;
    flex-wrap: wrap;
}

@include mobile {
    .travel-point-logo {
        margin: 3.4rem 0;
        img {
            height: 1.3rem;
            margin: 0.8rem 0.3rem;
        }
    }
}

@include tablet {
    .travel-point-logo {
        margin: 8rem 5rem;
        max-width: 82%;

        img {
            height: 2rem;
            padding: 0.8rem 1rem;
        }
    }
}
@include desktop {
    .travel-point-logo {
<<<<<<< HEAD
<<<<<<< HEAD
        margin: 4.6rem 1rem;
=======
        margin: 6.1rem 0 4rem 0;
>>>>>>> c5fefb9 ([YS_A1_03]: Fixed incemental changes)
=======
        margin: 2.1rem 0 4rem 0;
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)
        justify-content: space-between;
    }
}
