@import '../abstract/mixins';
@import '../abstract/variables';

.travel-point {
    @include flexCol;

    &__image {
        margin: 7rem 0 0 -0.1rem;
        width: 99vw;
    }

    &__right {
        @include flexColBetween;
        height: 222dvw;

        &__top {
            color: $pink;
            font-size: 1rem;
            margin: 2.6rem 0 0 0.9rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 20%;
        }

        &__heading {
            width: 90vw;
            margin-top: 1.3rem;
        }

        &__description {
            margin: 0.8rem 1rem 0rem 1rem;
        }
    }
}

@include tablet {
    .travel-point {
        @include flexCol;

        &__image {
            margin: 7.2rem 0 0 -0.1rem;
            width: 99vw;
        }

        &__right {
            height: 39.2rem;
            margin-top: 2.5rem;
            @include flexColEvenly;

            &__top {
                color: $pink;
                font-size: 1.5rem;
                // margin: 2.6rem 0 0 0.9rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &__heading {
                font-size: 2.6rem;
                width: 90vw;
                // margin-top: 1.4rem;
            }

            &__description {
                // margin: 2rem 1.9rem 1rem 1.9rem;
                letter-spacing: 8%;
            }
        }
    }
}

@include desktop {
    .travel-point {
        @include flexRow;
        align-items: unset;

        &__image {
            margin: 1.9rem 0 0 -5rem;
        }

        &__right {
            align-items: start;
            height: 49dvw;
            &__top {
                color: $pink;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 20%;
                margin: 2rem 0 0 0;
            }

            &__heading {
                font-size: 1.75rem;
                width: auto;
                text-align: start;
            }

            &__description {
                margin-top: 1rem;
                letter-spacing: 8%;
                font-size: 0.7rem;
                text-align: start;
                margin: 2rem 0 0 0;
            }
        }
    }
}
