@import '../abstract/mixins';

.travel-point-logo {
    @include flexRow;
    flex-wrap: wrap;
}

@include mobile {
    .travel-point-logo {
        margin-top: 3rem;
        img {
            height: 1.3rem;
            margin: 0.8rem 0;
        }
    }
}

@include tablet {
    .travel-point-logo {
        margin: 3.6rem 5rem 2.4rem 5rem;

        img {
            height: 2rem;
            padding: 0.8rem 1rem;
        }
    }
}
@include desktop {
    .travel-point-logo {
        margin: 4rem 0rem;
        justify-content: space-between;
    }
}
