.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_burger {
        button {
            background-color: unset;
            border: unset;
        }
    }
}

// to show logo in the middle for tablet
@media screen and (min-width: 431px) and (max-width: 1023px) {
    .header_logo {
        padding-left: 11rem;
    }
}
