@use '../abstract/variables';
@use '../abstract/mixins' as *;

.button {
    padding: 0.9rem 2rem;
    border-radius: 1.4rem;
    border: none;
}

// Header buttons
.header {
    &__button {
        &--signup {
            background-color: variables.$secondary-color;
            color: variables.$primary-color;
        }

        &--login {
            background-color: variables.$primary-color;
        }
    }
}

// for mobile
<<<<<<< HEAD
.header {
    &__burger {
        button {
            padding: 0.9rem 0.3rem;
        }
    }

    &__buttons {
        display: none;
    }

    &__link__bottom {
        .button {
            width: auto;
        }
    }
}

// hero section get started

.button {
    font-size: 1rem;
    width: stretch;
    border-radius: 2rem;

    &--get-started {
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
        padding: 1.5rem;
        margin-top: 0.9rem;
    }

    &--watch-demo {
        @include flex-row;
        background-color: variables.$primary-color;
        border: 1px solid variables.$lightgrey;
        padding: 1.3rem;
        margin-top: 1.7rem;
        span {
            padding-left: 0.5rem;
=======
// @include mobile {
.header {
    &__close-btn {
        // Formerly .header_links_close
        padding: 1rem 1.5rem;
    }

    &__burger {
        button {
            padding: 0.9rem 0.3rem;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)
        }
    }

    &__buttons {
        display: none;
    }
}

// hero section get started

.button {
    font-size: 1rem;
    width: 92vw;
    border-radius: 2rem;

    &--get-started {
        background-color: $secondary-color;
        color: $primary-color;
        box-shadow: 1px;
        padding: 1.5rem;
        margin-top: 0.9rem;
    }

    &--watch-demo {
        @include flexRow;
        background-color: $primary-color;
        border: 1px solid $lightgrey;
        width: 92vw;
        padding: 1.3rem;
        margin-top: 1.7rem;
        span {
            padding-left: 0.5rem;
        }
    }
}
// }

@include tablet {
    .button {
        padding: 0.9rem 2rem;
        font-size: 0.7rem;
    }

    .header {
        &__buttons {
            display: unset;
        }
        &__burger {
            button {
                padding: 0.9rem 0.3rem;
            }
        }
    }
    // hero section get started
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    .hero__left-section {
        &__buttons {
            @include flex-row;
        }
    }

    .button {
        padding: 0.9rem 2rem;
        width: unset;

        &--get-started {
            background-color: variables.$secondary-color;
            color: variables.$primary-color;
            padding: 1rem 2rem;
            border-radius: 2rem;
            margin: 0;
        }

        &--watch-demo {
            @include flex-row;
            background-color: variables.$primary-color;
            border: 1px solid #eeeeee;
            padding: 0.7rem 2rem;
            margin: 0 0 0 1rem;
            border-radius: 2rem;
            span {
                padding-left: 0.5rem;
=======
=======
>>>>>>> 8f91275 ([YS_A1_02]: completed hero section with pixel perfect)

    button {
        padding: 0.9rem 2rem;
    }

<<<<<<< HEAD
=======
>>>>>>> 2596f70 ([YS_A1_02]: Rebased with Header section and updated BEM)
=======
>>>>>>> 8f91275 ([YS_A1_02]: completed hero section with pixel perfect)
    .hero_left-section {
        &_buttons {
            @include flexRow;
        }
    }

    .button {
        padding: 0.9rem 2rem;
        width: unset;

<<<<<<< HEAD
            &_watch-demo {
                @include flexRow;
                background-color: $primary-color;
                border: 1px solid #eeeeee;
                padding: 1rem 2rem;
                margin-left: 1rem;
                border-radius: 2rem;
                span {
                    padding-left: 0.5rem;
                }
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
=======
        &--get-started {
            background-color: $secondary-color;
            color: $primary-color;
            box-shadow: 1px;
            padding: 1rem 2rem;
            border-radius: 2rem;
        }

        &--watch-demo {
            @include flexRow;
            background-color: $primary-color;
            border: 1px solid #eeeeee;
            padding: 1rem 2rem;
            margin-left: 1rem;
            border-radius: 2rem;
            span {
                padding-left: 0.5rem;
>>>>>>> 2596f70 ([YS_A1_02]: Rebased with Header section and updated BEM)
            }
        }
    }
    // hero section get started
    .hero_left-section {
        &_buttons {
            @include flexRow;
        }
    }

    .button {
        padding: 0.9rem 2rem;

        &--get-started {
            background-color: $secondary-color;
            color: $primary-color;
            box-shadow: 1px;
            padding: 1rem 2rem;
            border-radius: 2rem;
        }

        &--watch-demo {
            @include flexRow;
            background-color: $primary-color;
            border: 1px solid #eeeeee;
            padding: 1rem 2rem;
            margin-left: 1rem;
            border-radius: 2rem;
            span {
                padding-left: 0.5rem;
            }
        }
    }
}

// for tablet + desktop
@media screen and (min-width: 431px) {
    // Desktop
    .links_button {
        display: none;
    }
}

@include desktop {
    .header__buttons {
        display: unset;
    }
    .button {
        padding: 0.7rem 1.4rem;
        border-radius: 1.4rem;
        border: none;
        font-weight: 700;
<<<<<<< HEAD
        font-size: 13px;
        line-height: 120%;
        width: unset;

        &--get-started {
            background-color: variables.$secondary-color;
            color: variables.$primary-color;
            border-radius: 2rem;
            margin: 0 1rem 0 0;
        }

        // hero section get started
        &--watch-demo {
            display: inline-flex;
            align-items: center;
            border: 1px solid #eeeeee;
            padding: 0.6rem 0.7rem;
            margin: 0;
            width: 7rem;
            justify-content: space-evenly;
            img {
                height: 1rem;
            }
        }
    }
    .hero_left-section_buttons_get-started {
        background-color: $secondary-color;
        color: $primary-color;
        box-shadow: 1px;
        border-radius: 2rem;
        margin-right: 1rem;
    }
=======
        font-style: bold;
        font-size: 13px;
        line-height: 120%;
<<<<<<< HEAD
>>>>>>> 2596f70 ([YS_A1_02]: Rebased with Header section and updated BEM)
=======
        width: unset;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)

        &--get-started {
            background-color: $secondary-color;
            color: $primary-color;
            box-shadow: 1px;
            border-radius: 2rem;
            margin: 0 1rem 0 0;
        }

        // hero section get started
        &--watch-demo {
            display: inline-flex;
            align-items: center;
            padding: 0.6rem 0.7rem;
            margin: 0;
            width: 7rem;
            justify-content: space-evenly;
            img {
                height: 1rem;
            }
        }
    }
}
