@use '../abstract/functions' as *;
@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

// Base Card Component

.card {
    border: 1px solid $lightgrey;
    @include flex-col-evenly;
    border-radius: px-to-rem(24);

    @include desktop {
        border-radius: px-to-rem(36);
    }
}

// Travel Point Cards Container & Card Sizing (Mobile Default)

@include mobile {
    .cards-container {
        width: 94.5%;
    }

    .card {
        height: px-to-rem(148.8);
        margin: px-to-rem(17.6);
    }
}

// Tablet Layout & Responsive Card Dimensions

@include tablet {
    .cards-container {
        @include flex-row-evenly;
        flex-wrap: wrap;
        height: px-to-rem(336);
    }

    .card {
        width: 47%;
        max-width: px-to-rem(400);
        min-width: px-to-rem(208);
        height: px-to-rem(144);
        margin: px-to-rem(20.8) 0;
    }
}

// Desktop Grid Layout & Precise Card Proportions

@include desktop {
    .cards-container {
        @include flex-row-between;
        flex-wrap: wrap;
        height: px-to-rem(348);
    }

    .card {
        margin: px-to-rem(14.4) 0;
        padding: px-to-rem(24);
        width: 35.2%;
        height: 30.7%;
    }
}
