@import '../abstract/variables';
@import '../abstract/mixins';

<<<<<<< HEAD
.card {
    border: 1px solid $lightgrey;
    @include flex-col-evenly;
    border-radius: 1.5rem;
}

@include mobile {
    .travel-point__right__cards {
        width: 94.5%;
    }
=======
@include mobile {
    .travel-point__right__cards {
        width: 94.5%;

        &__card {
            height: 9.3rem;
            border: 1px solid $lightgrey;
            border-radius: 1.5rem;
            margin: 1.1rem;
            @include flex-col-evenly;
<<<<<<< HEAD
            flex-wrap: wrap;
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
=======
>>>>>>> b8637f1 ([YS_A1_04]: Fixed PR reviews added dynamic data insertion in testimonials)

    .card {
        height: 9.3rem;
        margin: 1.1rem;
    }
}

@include tablet {
    .travel-point__right__cards {
        @include flex-row-evenly;
        flex-wrap: wrap;
        height: 21rem;
    }

<<<<<<< HEAD
    .card {
        width: 47%;
        max-width: 25rem;
        min-width: 13rem;
        height: 9rem;
        margin: 1.3rem 0;
=======
        &__card {
            width: 47%;
            max-width: 25rem;
            min-width: 13rem;
            height: 9rem;
            border: 1px solid $lightgrey;
            border-radius: 1.5rem;
            margin: 1.3rem 0;
            @include flex-col-evenly;

            &__data {
                color: $orange;
                font-size: 2rem;
                font-weight: 900;
            }
        }
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
    }
}
@include desktop {
    .travel-point__right__cards {
<<<<<<< HEAD
<<<<<<< HEAD
        @include flex-row-between;
=======
        @include flex-row;
        justify-content: space-between;
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
        flex-wrap: wrap;
<<<<<<< HEAD
=======
        margin-top: 1rem;
>>>>>>> c5fefb9 ([YS_A1_03]: Fixed incemental changes)
=======
        @include flex-row-between;
        flex-wrap: wrap;
        margin-top: 1.9rem;
>>>>>>> b8637f1 ([YS_A1_04]: Fixed PR reviews added dynamic data insertion in testimonials)
        height: 14.5rem;
    }

<<<<<<< HEAD
    .card {
        margin: 0.6rem 0;
        padding: 1rem;
        width: 35.2%;
        height: 30.7%;
=======
        &__card {
            border: 1px solid $lightgrey;
            border-radius: 1.2rem;
            @include flex-col-evenly;
            margin: 0.6rem 0;
            padding: 1rem;
            width: 35.2%;
            height: 30.7%;

            &__data {
                color: $orange;
                font-size: 1.4rem;
                font-weight: 900;
            }
            &__text {
                font-size: 0.8rem;
            }
        }
>>>>>>> b4a19b8 ([YS_A1_04]: Fixed PR review of testimonial section)
    }
}
