@import '../abstract/mixins';

@include desktop {
    .header__burger {
        display: none;
    }
}

@include tablet {
    .header__burger {
        order: -1;
    }
}

.header__burger--none {
    visibility: hidden;
}
