@import '../abstract/mixins';

.msg-icon,
.friend-icon,
.location-icon {
    position: absolute;
    z-index: 2;
}

@include mobile {
    .image-1,
    .image-2,
    .image-3 {
        width: 8.7rem;
        align-self: center;
    }

    .image-2,
    .image-1 {
        max-width: 18rem;
    }

    .image-1 {
        margin-bottom: 1rem;
    }

    .image-3 {
        max-width: 11rem;
        margin-right: 0.5rem;
    }

    .msg-icon {
        top: 11rem;
        left: 1.4rem;
        height: 5.2rem;
    }

    .friend-icon {
        top: 20.8rem;
        left: 14.75rem;
        height: 5.3rem;
    }

    .location-icon {
        top: 15.7rem;
        left: 18.8rem;
        height: 4.8rem;
    }
}

@include tablet {
    .image-3,
    .image-2,
    .image-1 {
        max-width: 27dvw;
        padding: 0.5rem;
        width: auto;
        align-self: center;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }

    .msg-icon {
        top: 33.3dvw;
        left: 2.2dvw;
        height: 17dvw;
    }

    .friend-icon {
        top: 63.3dvw;
        left: 43dvw;
        height: 17dvw;
    }

    .location-icon {
        top: 47.6dvw;
        left: 54.7dvw;
        height: 16dvw;
    }
}

@include desktop {
    .image-3,
    .image-2,
    .image-1 {
        width: 19dvw;
        align-self: center;
        padding: 1rem 0.8rem 1rem 0.8rem;
    }

    .image-2 {
        padding-top: 0.5rem;
    }

    .image-3 {
        padding-left: 0.5rem;
        padding-right: 1.2rem;
        padding-top: 3rem;
    }

    .msg-icon {
        top: 14.1rem;
        left: 1.2rem;
        height: 11.5dvw;
    }

    .friend-icon {
        top: 27rem;
        left: 18.6rem;
        height: 11.5dvw;
    }

    .location-icon {
        top: 20.3rem;
        left: 23.2rem;
        height: 11.5dvw;
    }
}
