@import '../abstract/mixins';

<<<<<<< HEAD
.msg-icon,
.friend-icon,
.location-icon {
=======
.hero_right-section_img_msg,
.hero_right-section_img_friend,
.hero_right-section_img_location {
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
    position: absolute;
    z-index: 2;
}

@include mobile {
    .image-1,
    .image-2,
<<<<<<< HEAD
    .image-3 {
        width: 8.7rem;
=======
    .image-1 {
        max-width: 9rem;
        width: 7.7rem;
>>>>>>> 6936c4b ([YS_A1_02]: Fixed hero section PR reviews)
        align-self: center;
    }

    .image-2,
    .image-1 {
        max-width: 18rem;
    }

    .image-1 {
        margin-bottom: 1rem;
    }

    .image-3 {
        max-width: 11rem;
<<<<<<< HEAD
=======
        width: 7.5rem;
        align-self: center;
>>>>>>> 6936c4b ([YS_A1_02]: Fixed hero section PR reviews)
        margin-right: 0.5rem;
    }

    .msg-icon {
        top: 48.7%;
        left: 5.2%;
        height: 23%;
    }

    .friend-icon {
        top: 92%;
        left: 57.4%;
        height: 23%;
    }

    .location-icon {
        top: 69.4%;
        left: 72%;
        height: 23%;
    }
}

@include tablet {
    .image-3,
    .image-2,
    .image-1 {
        max-width: 27dvw;
        padding: 0.5rem;
        width: auto;
        align-self: center;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }

    .msg-icon {
        top: 47.4%;
        left: 2.9%;
        height: 24%;
    }

    .friend-icon {
        top: 90.3%;
        left: 57.4%;
        height: 24%;
    }

    .location-icon {
        top: 68%;
        left: 72.8%;
        height: 22.8%;
    }

    .hero_right-section_img_msg {
        top: 9.6rem;
        left: 0.9rem;
        height: 5.2rem;
    }

    .hero_right-section_img_friend {
        top: 18.5rem;
        left: 13.05rem;
        height: 4.7rem;
    }

    .hero_right-section_img_location {
        top: 13.8rem;
        left: 16.3rem;
        height: 4.8rem;
    }
}

@include tablet {
    .image-3,
    .image-2,
    .image-1 {
        max-width: 17rem;
        padding: 0.5rem;
        width: auto;
        align-self: center;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }

    .hero_right-section_img_msg {
        top: 18.9rem;
        left: 1.3rem;
    }

    .hero_right-section_img_friend {
        top: 36.1rem;
        left: 24.5rem;
    }

    .hero_right-section_img_location {
        top: 27.1rem;
        left: 31rem;
    }

    .hero_right-section_img_msg {
        top: 10.8rem;
        left: 0.8rem;
        height: 5.5rem;
    }

    .hero_right-section_img_friend {
        top: 20.7rem;
        left: 14.2rem;
        height: 5.5rem;
    }

    .hero_right-section_img_location {
        top: 15.5rem;
        left: 17.9rem;
        height: 5.5rem;
    }
}

@include tablet {
    .image-3,
    .image-2,
    .image-1 {
        max-width: 17rem;
        padding: 0.5rem;
        width: auto;
        align-self: center;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }

    .hero_right-section_img_msg {
        top: 21.4rem;
        left: 1.5rem;
    }

    .hero_right-section_img_friend {
        top: 40.7rem;
        left: 27.6rem;
    }

    .hero_right-section_img_location {
        top: 30.6rem;
        left: 35rem;
    }
}

@include desktop {
    .image-3,
    .image-2,
    .image-1 {
        align-self: center;
        padding: 1rem 0.8rem 1rem 0.8rem;
    }

    .image-2 {
        padding-top: 0.5rem;
    }

    .image-3 {
        padding-left: 0.5rem;
        padding-right: 1.2rem;
        padding-top: 3rem;
    }

<<<<<<< HEAD
    .msg-icon {
        top: 46.6%;
        left: 3%;
        height: 23%;
    }

    .friend-icon {
        top: 88.5%;
        left: 56.9%;
        height: 23%;
    }

    .location-icon {
        top: 66.4%;
        left: 71.8%;
        height: 22.3%;
=======
    .hero_right-section_img_msg {
        top: 14.1rem;
        left: 1.2rem;
    }

    .hero_right-section_img_friend {
        top: 27rem;
        left: 18.6rem;
    }

    .hero_right-section_img_location {
        top: 20.3rem;
        left: 23.5rem;
>>>>>>> 2b5dfbd ([YS_A1_02]: completed hero section with pixel perfect)
    }
}
