@import '../abstract/mixins';
@import '../abstract/variables';

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

// for mobile
.header {
    &__links {
        @include flexCol;
        justify-content: space-between;
        position: absolute;
        padding: 2rem;
        z-index: 5;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100dvh;
        width: 50dvw;
        box-sizing: border-box;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $primary-color;
        animation: slideInRight 0.3s ease-out forwards;
    }

    &__close-btn {
        display: unset;
        background-color: $transparent;
        svg {
            height: 2rem;
        }
        align-self: end;
    }

    .links__button {
        font-size: 1rem;
    }

    &__link {
        padding: 1rem 0rem;

        &__top,
        &__bottom {
            @include flexCol;
            justify-content: unset;
            align-items: start;
            width: 100%;
        }
    }
}

@include tablet {
    .header {
        &__links {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: start;
            padding: 2rem;
            z-index: 5;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25dvw;
            min-width: 12rem;
            animation: slideInLeft 0.3s ease-out forwards;
        }

        &__link {
            padding: 1rem 0rem;

            &__top {
                @include flexCol;
                justify-content: unset;
                align-items: start;
            }
        }
    }
}

// Hide links
.header {
    &__links--none {
        display: none;
    }
}

@include desktop {
    .header {
        &__links {
            all: initial;
            animation: none;
        }

        &__close-btn {
            display: none;
        }

        &__link {
            &__top,
            &__bottom {
                all: initial;
            }

            color: $link;
            padding: 0.3rem 1rem;
            font-size: 0.6rem;
            font-weight: bold;

            &s--none {
                display: unset;
            }
        }
    }
}
