@import '../abstract/mixins';

.header {
    &__link {
        color: rgba(25, 24, 37, 0.5019607843);
        text-decoration: none;
        padding: 0.3rem 1rem;
        font-size: 0.6rem;
        font-weight: bold;
    }

    &__close-btn {
        display: none;
    }
}

@include tablet {
    .header {
        &__links {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: start;
            padding: 5rem 2rem;
            z-index: 5;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100dvh;
            width: 25vw;
            background: rgba(0, 0, 0, 0.683);
        }

        &__close-btn {
            display: unset;
            margin-bottom: 0.5rem;
            padding: 1rem;
            border: none;
            height: 2rem;
            background-color: rgba(0, 0, 0, 0);
            font-size: 2rem;
            font-weight: 100;
            color: white;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &__link {
            color: white;
            padding: 1rem 0rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .top {
        @include flexCol;
        justify-content: unset;
        align-items: start;
    }
}

@include mobile {
    .header {
        &__links {
            @include flexCol;
            justify-content: space-between;
            position: absolute;
            padding: 2rem;
            z-index: 5;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100dvh;
            width: 50vw;
            background: rgba(0, 0, 0, 0.683);
            box-sizing: border-box;
        }

        &__close-btn {
            display: unset;
            margin-bottom: 0.5rem;
            border: none;
            font-size: 2rem;
            height: 2rem;
            background-color: rgba(0, 0, 0, 0);
            font-weight: 100;
            color: white;
            margin: -2rem 1rem 1rem 6.5rem;
        }

        &__link {
            color: white;
            padding: 1rem 0rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .top,
    .bottom {
        @include flexCol;
        justify-content: unset;
        align-items: start;
        width: 40vw;
    }
}

.header {
    &__links--none {
        display: none;
    }
}

@include desktop {
    .header__links--none {
        display: unset;
    }
}
