@import '../abstract/mixins';
@import '../abstract/variables';

// for mobile
.header {
    &__links {
        @include flexCol;
        justify-content: space-between;
        position: absolute;
        padding: 2rem;
        z-index: 5;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100dvh;
        width: 50dvw;
        background: $header-background;
        box-sizing: border-box;
    }

    &__close-btn {
        display: unset;
        margin-bottom: 0.5rem;
        border: none;
        font-size: 2rem; // for x (cross btn)
        height: 2rem;
        background-color: $transparent;
        font-weight: 100;
        color: $primary-color;
        margin: -2rem 1rem 1rem 6.5rem;
    }

    &__link {
        color: $primary-color;
        padding: 1rem 0rem;

        &__top,
        &__bottom {
            @include flexCol;
            justify-content: unset;
            align-items: start;
            width: 40vw;
        }
    }
}

@include tablet {
    .header {
        &__links {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: start;
            padding: 5rem 2rem;
            z-index: 5;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25dvw;
        }

        &__close-btn {
            margin: 0 0 0.5rem 0;
            padding: 1rem;
            color: $primary-color;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &__link {
            color: $primary-color;
            padding: 1rem 0rem;

            &__top {
                @include flexCol;
                justify-content: unset;
                align-items: start;
            }
        }
    }
}

// to hide buttons from the page
.header {
    &__links--none {
        display: none;
    }
}

@include desktop {
    .header {
        &__links {
            all: initial;
        }

        &__close-btn {
            display: none;
        }

        &__link {
            &__top,
            &__bottom {
                all: initial;
            }

            color: $link;
            padding: 0.3rem 1rem;
            font-size: 0.6rem;
            font-weight: bold;

            &s--none {
                display: unset;
            }
        }
    }
}
