@use '../abstract/mixins' as *;
@use '../abstract/variables';

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

// for mobile
.header {
    &__links {
        @include flex-col;
        justify-content: space-between;
        position: absolute;
        padding: 1rem;
        z-index: 5;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100dvh;
        width: 50dvw;
        box-sizing: border-box;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: variables.$primary-color;
        animation: slideInRight 0.3s ease-out forwards;
    }
}
// header link styling

.header {
    &__link {
        color: rgba(25, 24, 37, 0.5019607843);
        text-decoration: none;
        padding: 0.3rem 1rem;
    }
}
// header link styling

.header {
    &__link {
        color: rgba(25, 24, 37, 0.5019607843);
        text-decoration: none;
        padding: 0.3rem 1rem;
    }
}
// header link styling

.header {
    &__link {
        color: rgba(25, 24, 37, 0.5019607843);
        text-decoration: none;
        padding: 0.3rem 1rem;
        font-size: 0.6rem;
        font-weight: bold;
    }

    &__close-btn {
        display: none;
    }
}

// links for tablet
@include tablet {
    .header_links_close {
        display: unset;
        margin-bottom: 0.5rem;
        border: none;
        font-size: 2rem;
        color: $secondary-color;
        background-color: rgba(255, 0, 0, 0);
    }

    .header_links_link {
        padding: 0.5rem 0rem;
    }

    .header_links {
        @include flexCol;
        position: absolute;
        left: 1rem;
        top: 1rem;
        padding: 1rem 1rem;

        background-color: rgba(255, 255, 255, 0.265);
        border: 0.2rem solid $secondary-color;
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2rem;
        color: $primary-color;
    }
}

// for mobile
@include mobile {
    .header_links_close {
        display: unset;
        border: none;
        background-color: white;
        font-size: 2rem;
        color: $secondary-color;
        background-color: rgba(255, 0, 0, 0);
    }

    .header_links_link {
        padding: 0;
    }

    .header_links_link {
        padding: 1rem 0rem;
        &_button {
            cursor: pointer;
        }
    }

    .header_links {
        @include flexCol;
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 1rem 1rem;

        background-color: rgba(255, 255, 255, 0.639);
        border: 0.2rem solid $secondary-color;
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1rem;
        color: $primary-color;
        z-index: 3;
    }
}

// header link default display to none
// .header_links--none {
//     display: none;
// }

// header links visible on desktop
@include desktop {
    .header_links_link {
        font-size: 0.6rem;
        font-weight: bold;
    }

    &__close-btn {
        display: unset;
        background-color: variables.$transparent;
        svg {
            height: 2rem;
        }
        align-self: end;
    }

    .links__button {
        font-size: 1rem;
    }

    &__link {
        padding: 1rem 0rem;

        &__top,
        &__bottom {
            @include flex-col;
            justify-content: unset;
            align-items: start;
            width: 100%;
        }
    }
}

@include tablet {
    .header {
        &__links {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: start;
            padding: 2rem;
            z-index: 5;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25dvw;
            min-width: 12rem;
            animation: slideInLeft 0.3s ease-out forwards;
        }

        &__link {
            padding: 1rem 0rem;

            &__top {
                @include flex-col;
                justify-content: unset;
                align-items: start;
            }
        }
    }
}

// Hide links
.header {
    &__links--none {
        display: none;
    }
}

@include desktop {
    .header {
        &__links {
            all: initial;
        }

        &__close-btn {
            display: none;
        }

        &__link {
            color: variables.$link;
            padding: 0.3rem 1rem;
            font-size: 0.6rem;
            font-weight: bold;

            &__top,
            &__bottom {
                all: initial;
            }

            &s--none {
                display: unset;
            }
        }
    }
}
