@use '../abstract/mixins' as *;
@use '../abstract/variables';
<<<<<<< HEAD

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
=======
>>>>>>> b2c6f5e ([YS_A1_03]: Fixed PR reviews and added coupan image)

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

// for mobile
.header {
    &__links {
        @include flex-col;
        justify-content: space-between;
        position: absolute;
        padding: 1rem;
        z-index: 5;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100dvh;
        width: 50dvw;
        box-sizing: border-box;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
<<<<<<< HEAD
<<<<<<< HEAD
        background-color: variables.$primary-color;
        animation: slideInRight 0.3s ease-out forwards;
    }
}
// header link styling

.header {
    &__link {
        color: rgba(25, 24, 37, 0.5019607843);
        text-decoration: none;
        padding: 0.3rem 1rem;
=======
        background-color: $primary-color;
=======
        background-color: variables.$primary-color;
>>>>>>> b2c6f5e ([YS_A1_03]: Fixed PR reviews and added coupan image)
        animation: slideInRight 0.3s ease-out forwards;
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)
    }
}
// header link styling

.header {
    &__link {
        color: rgba(25, 24, 37, 0.5019607843);
        text-decoration: none;
        padding: 0.3rem 1rem;
    }

    &__close-btn {
        display: unset;
<<<<<<< HEAD
<<<<<<< HEAD
        background-color: variables.$transparent;
        svg {
            height: 2rem;
        }
        align-self: end;
=======
        background-color: $transparent;
        align-self: end;
        svg {
            height: 2rem;
        }
>>>>>>> c739d77 ([YS_A1_03]: Fixed PR review of travel point section)
=======
        background-color: variables.$transparent;
        svg {
            height: 2rem;
        }
        align-self: end;
>>>>>>> b2c6f5e ([YS_A1_03]: Fixed PR reviews and added coupan image)
    }

    .links__button {
        font-size: 1rem;
    }

    &__link {
        padding: 1rem 0rem;

        &__top,
        &__bottom {
            @include flex-col;
            justify-content: unset;
            align-items: start;
            width: 100%;
        }
    }
}

@include tablet {
    .header {
        &__links {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: start;
            padding: 2rem;
            z-index: 5;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25dvw;
            min-width: 12rem;
            animation: slideInLeft 0.3s ease-out forwards;
        }

        &__link {
            padding: 1rem 0rem;

            &__top {
                @include flex-col;
                justify-content: unset;
                align-items: start;
            }
        }
    }
}

// Hide links
.header {
    &__links--none {
        display: none;
    }
}

@include desktop {
    .header {
        &__links {
            all: initial;
        }

        &__close-btn {
            display: none;
        }

        &__link {
<<<<<<< HEAD
<<<<<<< HEAD
            color: variables.$link;
=======
            color: $link;
>>>>>>> 415a946 ([YS_A1_02]: Fixed incemental changes and followed mobile first approach)
=======
            color: variables.$link;
>>>>>>> b2c6f5e ([YS_A1_03]: Fixed PR reviews and added coupan image)
            padding: 0.3rem 1rem;
            font-size: 0.6rem;
            font-weight: bold;

            &__top,
            &__bottom {
                all: initial;
            }

            &s--none {
                display: unset;
            }
        }
    }
}
