@import '../abstract/mixins';
@import '../abstract/variables';

.splide {
    width: 100vw;

    &__slide {
        @include flexColEvenly;
        justify-content: space-between;
    }

    &__arrow {
        padding: 2rem;
        border: 1px solid $lightgrey;
        border-radius: 2rem;
        i {
            color: black;
        }
    }

    &__arrow:hover {
        background-color: $secondary-color;
        i {
            color: $primary-color;
        }
    }
    &__pagination {
        &__page {
            padding: 10px;
        }

        li button.is-active {
            transform: unset;
            background: $pink;
        }
    }
}

@include mobile {
    .splide {
        padding: 1.45rem 0;
        margin-top: 2.5rem;

        &__pagination {
            top: 110%;
        }

        &__slide {
            height: 27rem;
        }

        &__arrow {
            top: 17.75%;
        }
    }
}

@include tablet {
    .splide {
        padding: 2rem 0;
        margin-top: 1.3rem;

        &__pagination {
            top: 105.6%;
        }

        &__slide {
            height: 24.6rem;
            p {
                font-size: 1.4rem;
                margin: 0 13rem;
                text-align: center;
            }
        }

        &__arrow {
            top: 41.25%;
            padding: 2.6rem;
            border-radius: 50%;

            &--next {
                right: 7.5rem;
            }
            &--prev {
                left: 7.5rem;
            }
        }
    }
}
@include desktop {
    .splide {
        padding: 1.45rem 0;
        margin-top: 0.5rem;

        &__pagination {
            top: 105.6%;
        }

        &__slide {
            height: 16.8rem;
            h6 {
                font-size: 1.35rem;
            }
            p {
                font-size: 1rem;
                margin: 0 13rem;
                text-align: center;
            }
        }

        &__arrow {
            top: 44%;

            &--next {
                right: 4.9rem;
            }
            &--prev {
                left: 4.9rem;
            }
        }
    }
}
