@import '../abstract/variables.scss';

.header_buttons_button {
    padding: 1rem 1.5rem;
    border-radius: 1.4rem;
    border: none;
    font-weight: 500;
    font-size: 0.95rem;
}

// login button
.header_buttons_login {
    background-color: $secondary-color;
    color: $primary-color;
}

// signup button
.header_buttons_signup {
    background-color: $primary-color;
}

// for mobile
@media screen and (max-width: 430px) {
    .header_links_close {
        padding: 1rem 1.5rem;
    }
    .header_buttons {
        display: none;
    }
}

// for tablet + desktop
@media screen and (min-width: 430px) {
    // Desktop
    .links_button {
        display: none;
    }
    .header_links_close {
        padding: 0.3rem 1.5rem;
    }
}
