@media screen and (min-width: 1024px) {
    // Desktop
    .header_burger {
        display: none;
    }
}
@media screen and (max-width: 1024px) and (min-width: 430px) {
    // Desktop
    .header_burger {
        order: -1;
    }
}
.header_burger--none {
    visibility: hidden;
}
