// for mobile + tablet
@media screen and (min-width: 1024px) {
    // Desktop
    .header_burger {
        display: none;
    }
}

// for tablet
@media screen and (max-width: 1024px) and (min-width: 431px) {
    // to change order in div
    .header_burger {
        order: -1;
    }
}

// to set hamburger visibility none
.header_burger--none {
    visibility: hidden;
}
