.image-3,
.image-2,
.image-1 {
    padding: 0.5rem;
    width: 350px;
    align-self: center;
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    .image-3,
    .image-2,
    .image-1 {
        padding: 0.5rem;
        width: 17rem;
        align-self: center;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }

    .image-globe {
        margin-top: 16px;
    }
    // .hero_right-section_box{
    //     width: 90vw;
    // }
}
