// header link styling
.header_links_link {
    color: #19182580;
    text-decoration: none;
    padding: 0.3rem 2rem;
    font: 1.2rem;
}
// close button
.header_links_close {
    display: none;
}

// links for tablet
@media screen and (max-width: 1023px) and (min-width: 430px) {
    .header_links_close {
        display: unset;
        margin-bottom: 0.5rem;
        border: none;
        background-color: white;
    }

    .header_links_link {
        padding: 0.5rem 0rem;
    }

    .header_links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        padding: 0rem 1rem;
    }

    .header_links_close {
        display: unset;
        margin-bottom: 0.5rem;
        border: none;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }

    .header_links_link {
        color: white;
        padding: 1rem 0rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .header_links {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        @include flexCol;
        justify-content: start;
        padding: 3rem 1rem;
        height: 100dvh;
        width: 40vw;

        background-image: linear-gradient(
            rgba(0, 0, 0, 0.848) 0,
            rgba(255, 0, 0, 0) 45%
        );
    }
}

// for mobile
@media screen and (max-width: 430px) {
    .header_links_close {
        display: unset;
        margin-bottom: 0.5rem;
        border: none;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }

    .header_links_link {
        color: white;
        padding: 1rem 0rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .header_links {
        z-index: 5;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        @include flexCol;
        justify-content: start;
        padding: 3rem 1rem;
        height: 100dvh;
        width: 50vw;
        // background: rgba(0, 0, 0, 0.576);
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.848) 0,
            rgba(255, 0, 0, 0) 60%
        );
        border: 2rem;
    }
}

// header link default display to none
.header_links--none {
    display: none;
}

// header links visible on desktop
@media screen and (min-width: 1024px) {
    .header_links--none {
        display: unset;
    }
}
