// mixins.scss
@import './variables';

@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexRowEvenly {
    @include flexRow;
    justify-content: space-evenly;
}

@mixin flexColEvenly {
    @include flexCol;
    justify-content: space-evenly;
}

@mixin flexRowAround {
    @include flexRow;
    justify-content: space-around;
}

@mixin flexColAround {
    @include flexCol;
    justify-content: space-around;
}

@mixin flexColStart {
    @include flexCol;
    justify-content: start;
}

@mixin flexRowStart {
    @include flexRow;
    justify-content: start;
}

// media query mixin

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $tablet) {
        @content;
    }
}
