// mixins.scss
@use './variables';

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

<<<<<<< HEAD
<<<<<<< HEAD
@mixin flex-col {
=======
@mixin flexCol {
>>>>>>> d3ce191 ([YS_A1_02]: Fixed PR and updated incremental changes)
=======
@mixin flex-col {
>>>>>>> ef09656 ([YS_A1_02]: Fixed PR reviews)
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    flex-direction: row;
=======
>>>>>>> d3ce191 ([YS_A1_02]: Fixed PR and updated incremental changes)
}

/// Flexbox row layout with space-evenly alignment.
@mixin flex-row-evenly {
    @include flex-row;

    justify-content: space-evenly;
}

/// Flexbox column layout with space-evenly alignment.
@mixin flex-col-evenly {
    @include flex-col;

    justify-content: space-evenly;
}

/// Flexbox row layout with space-around alignment.
@mixin flex-row-around {
    @include flex-row;

    justify-content: space-around;
}

/// Flexbox column layout with space-around alignment.
@mixin flex-col-around {
    @include flex-col;

    justify-content: space-around;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ef09656 ([YS_A1_02]: Fixed PR reviews)
/// Flexbox column layout with space-between alignment.
@mixin flex-col-between {
    @include flex-col;

<<<<<<< HEAD
    justify-content: space-between;
}

/// Flexbox row layout with space-between alignment.
@mixin flex-row-between {
    @include flex-row;

    justify-content: space-between;
}

/// Flexbox column layout aligned to start.
@mixin flex-col-start {
    @include flex-col;

=======
@mixin flexColBetween {
    @include flexCol;
=======
>>>>>>> ef09656 ([YS_A1_02]: Fixed PR reviews)
    justify-content: space-between;
}

/// Flexbox row layout with space-between alignment.
@mixin flex-row-between {
    @include flex-row;

    justify-content: space-between;
}

<<<<<<< HEAD
@mixin flexColStart {
    @include flexCol;
>>>>>>> 6936c4b ([YS_A1_02]: Fixed hero section PR reviews)
=======
/// Flexbox column layout aligned to start.
@mixin flex-col-start {
    @include flex-col;

>>>>>>> ef09656 ([YS_A1_02]: Fixed PR reviews)
    justify-content: start;
}

/// Flexbox row layout aligned to start.
@mixin flex-row-start {
    @include flex-row;

    justify-content: start;
}

<<<<<<< HEAD
/// Breakpoint for Tablet screens
@mixin tablet {
    @media (min-width: variables.$mobile) {
=======
/// Breakpoint or mobile screens
@mixin mobile {
    @media (max-width: variables.$mobile) {
        @content;
    }
}

/// Breakpoint for Tablet screens
@mixin tablet {
    @media (min-width: variables.$mobile) and (max-width: variables.$tablet) {
>>>>>>> ef09656 ([YS_A1_02]: Fixed PR reviews)
        @content;
    }
}

/// Breakpoint for Desktop screens
@mixin desktop {
    @media (min-width: variables.$tablet) {
        @content;
    }
}
