// variables.scss

$primary-color: #ffffff;
$secondary-color: #5d50c6;
$pink: #f85e9f;
$grey: #19182580;
$lightgrey: rgba(25, 24, 37, 0.1);
$orange: rgba(255, 87, 34, 1);
$link: rgba(25, 24, 37, 0.5019607843);
$header-background: rgba(0, 0, 0, 0.683);
$transparent: rgba(0, 0, 0, 0);

$mobile: 431px;
$tablet: 1025px;
