@use 'base/base.scss';
@use 'layout/header.scss';
@use 'components/buttons.scss';
@use 'components/links.scss';
@use 'components/hamburger.scss';

// added font-familyt
@font-face {
    font-family: circularstd;
    src: url(public/assets/circular-std-medium-500.ttf);
}

html {
    font-family: circularstd, sans-serif;
    font-weight: 500;
}
