/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
<<<<<<< HEAD
=======
    // font-family: initial;
>>>>>>> db42536 ([YS_A1_02]: Fixed PR Reviews for the travel point section)
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
html,
* {
    font-family: Circular-Std, sans-serif, Arial;
=======
html {
    font-family: 'circular-std', sans-serif, Arial;
>>>>>>> 6936c4b ([YS_A1_02]: Fixed hero section PR reviews)
=======
html,
* {
    font-family: Circular-Std, sans-serif, Arial;
>>>>>>> db42536 ([YS_A1_02]: Fixed PR Reviews for the travel point section)
}
