// margin for desktop
.container {
    margin: 2rem 7rem;
}

// gradient image
html {
    // height: 100vh;
    background-image: radial-gradient(
        at top left,
        rgba(255, 115, 72, 0.44) 10%,
        rgb(255, 255, 255) 50%
    );
    background-repeat: no-repeat;
    height: 100rem;
}

// margin for mobile
@media screen and (max-width: 430px) {
    .container {
        margin: 2.3rem 1.1rem;
    }
}

// margin for tablet
@media screen and (min-width: 431px) and (max-width: 1023px) {
    .container {
        margin: 2.05rem 4.05rem;
    }
}
